<script type="text/javascript">

user_data = [{ id: 197281, title:'<span style="font-weight:bold;color:pink;">Evil Bunny Tyrant</span>', rebel: 0.3}, { id: 197289, rebel: 1}, {id: 197685, rebel: 0.2, title: '<span class="delegate">Boring Delegate</span>'}];

function add_user_info( user ) { // Added by Eluvatar <3
  var c_user_tds = $(".c_username a[href=\"http://forum.thenorthpacific.org/profile/"+user.id+"/\"]").parent().parent().next().children("td.c_user");
  if( user.title != null ) {
    c_user_tds.children("div.usertitle").prepend(user.title);
  }
  if( user.rebel != null ) {
    c_user_tds.children(".user_info").append("<dt>Rebel count:</dt><dd>"+user.rebel+"</dd>");
  }
}

$.each( user_data , function(index,value){  add_user_info(value); } );

avatars = [{id: 197302, url: 'http://z2.ifrm.com/10711/28/0/f5054283/comic038copy4va.jpg'},{id:3163742,url:'http://z2.ifrm.com/10711/28/0/f5054282/sillystring-100.gif'}];

$.each( avatars, function(index,av) {
  $("img[src*=\"/avatar-"+av.id+".\"]").attr('src',av.url);
  var c_user_tds = $(".c_username a[href=\"http://forum.thenorthpacific.org/profile/"+av.id+"/\"]").parent().parent().next().children("td.c_user");
  var tmp = c_user_tds.children().first();
  if( tmp.hasClass('usertitle') > 0 ) {
    tmp.before($('<a>',{
      title: 'Click to edit profile',
      href: 'http://forum.thenorthpacific.org/home/?c=6&mod='+av.id,
      append: $('<div>',{
        style:"margin:auto;max-width: 130px; max-height: 130px;",
        append:$('<img>',{
          class: 'avatar',
          border: '0',
          style: 'max-width: 130px; max-height: 130px;',
          alt: 'Member Avatar',
          src: av.url
        })
      })
    }));
  }
});
// NS Nation links :)
function link_to_nation( index, html ) {
  if( $(this) && $(this).text() && $(this).text().match("^[A-Za-z0-9 \-_]+$") ) {
    return "<dd><a href=\"http://www.nationstates.net/nation="+$(this).text()+"\">"+$(this).text()+"</a>";
  } else {
    return $(this).clone();
  }
}
function close_link_to_nation( index, html ) {
}


$(document).ready( function() {
  if( $("dt:contains(Nation) + dd").length ) { $(".user_profile").children("dt:contains(Nation) + dd").replaceWith(link_to_nation) }
});

// code to hide embassy row subforums from index by Eluvatar 2015-05-09
$(document).ready( function() {
  $("#forum-39650").next().next().hide();
});
// code to "fix" theme switcher (by bypassing it)
// based on http://support.zathyus.com/single/?p=18101209&t=5227287
$(document).ready( function() {
  $("#foot_themechooser").submit( function(e) {
    e.preventDefault();
    var skin = $(this).find('#setskin').val();
    $.get(main_url + 'index/?setskin=' + skin).done(function(){
      window.location.reload();
    });
  });
});
</script>

<script type='text/javascript' src='http://z6.ifrm.com/4812/177/0/f5018893/bbtags31_xanik.js'></script><script>ubb_tag("Nation","nation","<a href='http://www.nationstates.net/nation=<% INNER %>'><% INNER %></a>",0,"Links to a nation on NationStates"); ubb_tag("Region","region","<a href='http://www.nationstates.net/region=<% INNER %>'><% INNER %></a>",0,"Links to a region on NationStates");


ubb_tag("Justified","justified","<span style='display: inline-block; text-align: justify;'><% INNER %></span>",0,"Make text justified.");

ubb_tag("Justified","justified","<span style='display: inline-block; text-align: justify; width: <% VAR %>;'><% INNER %></span>",1); 

</script>

<script type="text/javascript" src="http://z2.ifrm.com/10711/28/0/f5050274/masspm.js"></script>